.cover {
    background: url(../../images/overlay.png) no-repeat center;
    background-size: cover;
    display: flex;
    margin: 92px 48px 0;
    aspect-ratio: 1184 / 740;
}

@media screen and (max-width: 1279px) {
    .cover {
        margin: 92px 0 0;
    }
  }

@media screen and (max-width: 1023px) {
    .cover {
        margin: 90px 0 0;
    }
  }

@media screen and (max-width: 424px) {
    .cover {
        margin: 66px 0 0;
    }
}
