.lead__main-illustration {
    margin: 64px 0 0;
    width: 100%;
}

@media screen and (max-width: 1279px) {
    .lead__main-illustration {
    margin: 56px 0 0;
    }
  }
 
  @media screen and (max-width: 767px) {
    .lead__main-illustration {
    margin: 40px 0 0;
    }
  }
